body {
  color: black; }

.hidden {
  display: none; }

.form {
  position: relative;
  top: 0;
  padding: 30px 15px; }

.smtextarea {
  width: 70px;
  display: inline-block; }

.mdtextarea {
  width: 120px;
  display: inline-block; }

.plus {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: beige;
  color: black; }
  .plus:hover {
    background: darkcyan;
    color: white; }

.square {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border: 1px solid gray; }
  .square:hover {
    border: 2px solid lightblue; }
  .square.colorActive {
    border: 2px solid white;
    height: 22px;
    width: 22px; }
  .square.blue {
    background: #0000cc; }
  .square.red {
    background: #0000cc; }
  .square.red {
    background: #ff0000; }
  .square.gray {
    background: #999999; }
  .square.purple {
    background: #cc0099; }
  .square.pink {
    background: #fa6b81; }
  .square.brown {
    background: #996633; }
  .square.green {
    background: #669900; }

.textSize {
  margin: 5px;
  color: black;
  font-size: 12pt; }
  .textSize:hover {
    color: darkgray; }
  .textSize.textSizeActive {
    text-decoration: underline; }
  .textSize.textSize-14 {
    font-size: 14pt; }
  .textSize.textSize-16 {
    font-size: 16pt; }
  .textSize.textSize-18 {
    font-size: 18pt; }
  .textSize.textSize-20 {
    font-size: 20pt; }

.plusParagraph {
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: beige;
  color: black; }
  .plusParagraph:hover {
    background: darkcyan;
    color: white; }

.table_row {
  display: flex;
  width: 700px;
  flex-wrap: nowrap;
  align-items: stretch;
  text-align: center; }

.table_first {
  flex: 1;
  border: 1px solid slategrey;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px; }

.table_second {
  flex: 4; }

.table_second_row {
  display: flex;
  height: 35px;
  align-content: flex-start;
  flex-direction: row;
  align-items: stretch; }
  .table_second_row > div {
    border-bottom: 1px solid gray;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .table_second_row input {
    width: 95%;
    height: 90%; }

.combined_btn {
  height: 25px; }

.renameTable_row {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  text-align: center; }

.renameTable_cell {
  flex: 1;
  border-bottom: 1px solid slategrey;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center; }

.renameTableLine {
  border: solid;
  color: #bbb;
  height: 4px;
  width: 100%;
  margin: 10px 0 6px;
  border-width: 1px 0; }

#sidebar {
  background: #f9f9f9;
  box-shadow: 0px 0px 45px #aaaaaa;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 25px;
  color: black; }

a {
  color: black;
  display: block; }
  a:active {
    color: black; }
  aa:visited {
    color: black; }

.submenu > a:before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background: orangered;
  margin: 0 20px; }

.form-row {
  font-size: 14px;
  min-height: 40px;
  display: flex;
  margin-bottom: 10px; }
  .form-row .fomr-col-right {
    flex: 1; }
  .form-row .fomr-col-left {
    flex: 2; }
  .form-row .t-header {
    color: orangered;
    display: inline-block;
    width: 150px;
    vertical-align: baseline; }
  .form-row input[type="text"] {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .form-row textarea {
    height: auto;
    padding: 6px 12px;
    vertical-align: text-top;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .form-row input[type="text"]:focus, .form-row textarea:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-row .input-g input {
    display: block;
    margin-bottom: 5px; }
  .form-row .inline-input input {
    margin-left: 10px; }

.checkbox-inline, .radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer; }
