.form-row {
  font-size: 14px;
  min-height: 40px;
  display: flex;
  margin-bottom: 10px; }
  .form-row .form-col-right {
    flex: 1; }
  .form-row .form-col-left {
    flex: 5; }
  .form-row .t-header {
    color: orangered;
    vertical-align: baseline;
    line-height: 30px; }
  .form-row input[type="text"] {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .form-row input[type="number"] {
    width: 80px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .form-row textarea {
    height: auto;
    padding: 6px 12px;
    vertical-align: text-top;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .form-row input[type="text"]:focus, .form-row textarea:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-row .input-g input {
    display: block;
    margin-bottom: 5px; }
  .form-row .inline-input input {
    margin-left: 10px; }
  .form-row .form-radio {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px; }
    .form-row .form-radio label {
      margin-left: 5px; }

.toolbar {
  display: flex; }

.toolbar-color {
  flex: 3; }

.toolbar-size {
  flex: 3; }

.toolbar-bold {
  flex: 1; }

.checkbox-inline, .radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer; }

.complex-datepicker {
  display: inline-block; }
