.form-row {
    font-size: 14px;
    min-height: 40px;
    display: flex;
    margin-bottom: 10px;

    .form-col-right {
        flex: 1;
    }

    .form-col-left {
        flex: 5;
    }

    .t-header {
        color: orangered;
        vertical-align: baseline;
    }

    input[type="text"] {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    textarea {
        height: auto;
        padding: 6px 12px;
        vertical-align: text-top;

        font-size: 14px;
        color: #555;

        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    input[type="text"]:focus, textarea:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }

    .input-g input{
        display: block;
        margin-bottom: 5px;
    }

    .inline-input input {
        margin-left: 10px;
    }

}

.toolbar {
    display: flex;
}

.toolbar-color {
    flex: 3;
}

.toolbar-size {
    flex: 3;
}

.toolbar-bold {
    flex: 1;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;

}
